.text-width {
    /*width: 850px;*/
    margin: auto;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
}

/*стили для картинки на bg
==========================*/

.position-img {
    position: relative;
    height: 450px;
    width: 100%;
    background: url(../img/1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    &::after {
        content: '';
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3);
    }

    /*выравнивание в position absolute
    =================================*/
    .position-title {
        position: absolute;
        z-index: 7;
        margin: auto;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        text-align: center;

        h2 {
            color: #fff;
        }

    }

    .swiper-container {
        position: absolute;
        padding: 10px 0px;
        margin: auto;
        top: 90px;
        margin-left: -445px;
        left: 50%;
        z-index: 6;
        width: 890px;
        height: auto;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, .2);
        cursor: pointer;
        transition: all .3s;
        @media (max-width: 1000px) {
           width: 590px;
           margin-left: -295px;
        }
        @media (max-width: 650px) {
           width: 400px;
           margin-left: -200px;
        }
        @media (max-width: 400px) {
           width: 290px;
           margin-left: -145px;
           padding: 5px 5px;
        }

        .col-sm-12 {
           @media (max-width: 400px) {
            padding: 5px 5px;
           } 
        }
    }
}

/*стили для внутр. содержимого слайдера
=======================================*/

.img-lg {

    margin-bottom: 15px;

   .wrapper-img {
    height: 270px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;

    @media (max-width: 1000px) {
        display: flex;
        justify-content: center;
    }
   } 

}

.img-xs {

  display: flex;
  justify-content: center;

  .wrapper-img {
    height: 67px;
    width: 90px;
    overflow: hidden;
    margin: 0px 10px;
    border-radius: 5px;

    .img-xs--img {
        max-width: 100%;
        
    }

  }

}

.col-md-7 {

    .title {

    }

    .content {

        margin-bottom: 25px;

        .content-text {
            color: red;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 0;

            .content-text--span {
              color: black;
              font-size: 16px;
              font-weight: normal;
              margin-left: 5px;
            }
        }

    }
}

/*стилизация цитаты
==================*/
blockquote {
   font-style: italic;
   border: none;
   padding: 0;
   font-size: 16px;
   font-weight: normal;
   position: relative;
}
 
blockquote:before {
    color: #bbb;
    content: "\201c"; /* Непечатаемый символ слева */
    position: absolute;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
}
 
blockquote:after {
    color: #bbb;
    content: "\201d"; /* Непечатаемый символ справа */
    position: absolute;
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -.45em;
}
 
blockquote > p:first-child {
    display: inline;
}

/*стили для блока с расчетом
===========================*/

.title-calculation {
    margin-top: 120px;
    margin-bottom: 60px;

    @media (max-width: 1000px) {
        margin-top: 420px;
    }

    @media (max-width: 400px) {
        margin-top: 450px;
    }

    .style-text--title {
        font-size: 22px;
        font-weight: bold;       
    }

    .text-calculation {
        width: 300px;
        margin: auto;
    }

    .text-calculation--span {
        font-size: 24px;
        margin-left: 5px;
    }

    .text-center.text-italic {
        font-style: italic;
        color: #625f5f;
    }

    .button-block {
        color: #fff;
        margin: 20px auto;
    }

    .button-link {
        background: #d82323;
        color: #fff;
        padding: 15px 35px;
        border-radius: 5px;
        text-decoration: none;
    }

    .text-italic--button {
        font-style: italic;
        width: 200px;
        margin: auto;
        color: #625f5f;
    }
}

/*.swiper-slide  {
   margin-right: 4px;
}

.quote {
    width: 450px;
}*/



