extends ../main

block title
  |Изготовление по индивидуальному проекту
  
block content

  .container
    .row
      .col-xs-12.col-sm-12.col-md-12
        div.title
          h3.text-center ИЗГОТОВЛЕНИЕ ПО ИНДИВИДУАЛЬНОМУ ПРОЕКТУ
        div.text
          p.text-center.text-width
            | Производственное объединение «Завод теплиц «Ясна» предлагает изготовление металлоконструкций по индивидуальному заказу: 
          p.text-center.text-width
            | мы можем изготовить под ключ нестандартную теплицу, козырек, навес, беседку или любую другую металлоконструкцию по вашему чертежу. 
          p.text-center.text-width
            | Уникальный опыт более 8 лет в производстве металлоконструкций научил нас заботиться о каждом клиенте. Производственный процесс отлажен до минут.
          p.text-center.text-width
            | Специалисты с высшим техническим образованием быстро изготовят необходимые чертежи с расчетом нагрузок и рассчитают необходимую прочность конструкции.
          p.text-center.text-width
            | Все конструкции изготавливаются по немецкой технологии на современном оборудовании. Покраска изделий производится качественной итальянской полимерной краской в высокотехнологичной покрасочной камере. Весь процесс сварки производится сварщиками с опытом не менее 5 лет и тщательно контролируется.  
          p.text-center.text-width
            | Перед выдачей изделие проходит полный контроль качества.
  .position-img
    .container
      .position-title
        h2 Наши работы
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .col-md-5.col-sm-12.products__slideshow
              .img-lg
                .wrapper-img.photo-big
                  a.products__slideshow-display
                    img(src="./img/2.jpg").img-lg--img.products__slideshow-img
              .img-xs
                .wrapper-img.products__slideshow-item
                  a.products__slideshow-link
                    img(src="./img/2.jpg").img-xs--img
                .wrapper-img.products__slideshow-item
                  a.products__slideshow-link
                    img(src="./img/2.jpg").img-xs--img
                .wrapper-img.products__slideshow-item
                  a.products__slideshow-link
                    img(src="./img/2.jpg").img-xs--img
            .col-md-7.col-sm-12
              .title
                h4.title-h2 Козырек-укрытие для технического люка бассейна
              .content
                p.content-text 8570
                  span.content-text--span руб. финальная стоимость
                p.content-text 5
                  span.content-text--span дней на разработку
              blockquote.quote
                p Изготовили каркас аккуратно, все подошло без подгонки. Цвет и покраска полностью удовлетворяют, по срокам изготовления без нарушений. Думаю, при следующем заказе буду обращаться в эту компанию «Ясна».
                p.quote-name.text-right — Алла Викторовна, покупатель
          .swiper-slide
            .col-md-5.col-sm-12.products__slideshow
              .img-lg
                .wrapper-img.photo-big
                  a.products__slideshow-display
                    img(src="./img/2.jpg").img-lg--img.products__slideshow-img
              .img-xs
                .wrapper-img.products__slideshow-item
                  a.products__slideshow-link
                    img(src="./img/2.jpg").img-xs--img
                .wrapper-img.products__slideshow-item
                  a.products__slideshow-link
                    img(src="./img/2.jpg").img-xs--img
                .wrapper-img.products__slideshow-item
                  a.products__slideshow-link
                    img(src="./img/2.jpg").img-xs--img
            .col-md-7.col-sm-12
              .title
                h4.title-h2 Козырек-укрытие для технического люка бассейна
              .content
                p.content-text 8570
                  span.content-text--span руб. финальная стоимость
                p.content-text 5
                  span.content-text--span дней на разработку
              blockquote.quote
                p Изготовили каркас аккуратно, все подошло без подгонки. Цвет и покраска полностью удовлетворяют, по срокам изготовления без нарушений. Думаю, при следующем заказе буду обращаться в эту компанию «Ясна».
                p.quote-name.text-right — Алла Викторовна, покупатель
  .container
    .row
      div.title-calculation
        h4.text-center.style-text--title Рассчитать стоимость моего проекта
        p.text-center.text-calculation
          | Для расчета стоимости позвоните по телефону горячей линии
          span.text-calculation--span 287-88-44
        p.text-center.text-italic Либо
        div.text-center.button-block
          a(href="").button-link Закажите обратный звонок
        p.text-center.text-italic--button
          | мы рассчитаем стоимость и любезно перезвоним

    
      
