extends ../main

block title
  |Обо мне
  
block content
  .container
    .block__projectInd
      .block__projectInd--title
        h1.block__projectInd--h1 ИЗГОТОВЛЕНИЕ ПО ИНДИВИДУАЛЬНОМУ ПРОЕКТУ
      .block__projectInd--text
        p.block__projectInd--p
          | Производственное объединение «Завод теплиц «Ясна» предлагает изготовление металлоконструкций по индивидуальному заказу: 
        p.block__projectInd--p
          | мы можем изготовить под ключ нестандартную теплицу, козырек, навес, беседку или любую другую металлоконструкцию по вашему чертежу.  
        p.block__projectInd--p
          | Уникальный опыт более 8 лет в производстве металлоконструкций научил нас заботиться о каждом клиенте. Производственный процесс отлажен до минут. 
        p.block__projectInd--p
          | Специалисты с высшим техническим образованием быстро изготовят необходимые чертежи с расчетом нагрузок и рассчитают необходимую прочность конструкции. 
        p.block__projectInd--p
          | Все конструкции изготавливаются по немецкой технологии на современном оборудовании. Покраска изделий производится качественной итальянской полимерной краской в высокотехнологичной покрасочной камере. Весь процесс сварки производится сварщиками с опытом не менее 5 лет и тщательно контролируется. 
        p.block__projectInd--p
          | Перед выдачей изделие проходит полный контроль качества. 
  .block__slider
    .block__slider--positiinImg
    .container
      h2.block__slider--titleH1 Наши работы
      .block__slider--sliderBox
        .block__slider--slider.swiper-container
          .swiper-wrapper
            .swiper-slide
              .block__slider--sliderList
                .swiper-container.gallery-top
                  .swiper-wrapper
                    .swiper-slide(style='background-image:url(./img/2.jpg)')         
                    .swiper-slide(style='background-image:url(./img/2.jpg)')         
                .swiper-container.gallery-thumbs
                  .swiper-wrapper
                    .swiper-slide(style='background-image:url(./img/2.jpg)')
                    .swiper-slide(style='background-image:url(./img/2.jpg)')         
              .block__slider--information
                h3.block__slider--title 
                  | Козырек-укрытие для технического люка бассейна
                .block__slider--text.margin--text
                  p.block__slider--item
                    | 8570
                    span руб. финальная стоимость
                  p.block__slider--item
                    | 5
                    span дней на разработку
                blockquote.block__slider--blockquote
                  p.block__slider--text
                    | Изготовили каркас аккуратно, все подошло без подгонки. Цвет и покраска полностью удовлетворяют, по срокам изготовления без нарушений. Думаю, при следующем заказе буду обращаться в эту компанию «Ясна».
                p.block__slider--name
                  | — Алла Викторовна, покупатель
          //- .swiper-button-next
          //- .swiper-button-prev
      .block__calculation
        h2.block__calculation--title
          | Рассчитать стоимость моего проекта
        .block__calculation--text
          p.block__calculation--p
            |Для расчета стоимости позвоните по телефону горячей линии
            span 287-88-44
          p.block__calculation--pItalic
            | либо
        .block__calculation--call
          button.block__calculation--button
            | Закажите обратный звонок
        .block__calculation--text
          p.block__calculation--pItalic
            | мы рассчитаем стоимость и любезно перезвоним
          
          
     
             
    

    
      
