.container__contact--position {
    width: 1074px;
    height: 634px;
    display: flex;
    background: #fff;
    /*box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.4);*/
    border-radius: 3px;

    .container__contact--left {
        flex: 1;
    }

    .container__contact--right {
        flex: 1;
    }
}

.container--flex {
    display: flex;
    justify-content: center;
}

.container__contact--blockTextName {
    margin: 80px 0px 80px 0px;

    .container__contact--contactName {
        text: 36px;
        font-family: "Playfair Display";
        color: #444;
        font-weight: normal;
    }
}

.container__contact--form {
    display: flex;
    flex-flow: column wrap;
    width: 376px;

    .container__contact--inputText {
        margin-bottom: 20px;

        .container__contact-1 {
            margin-bottom: 34px;
        }
    }

    .container__contact--blockCheckbox {
        margin-bottom: 54px;
        display: flex;
        flex-flow: row wrap;
        .container__contact--checkboxBlock{
            width: 160px;
        }
    }

    .container__contact--blocksubmit {
        display: flex;
        justify-content: left;
    }
}

.container__contact-1 {
    position: relative;
    display: flex;
}

.container__contact-2 {
    position: relative;
    display: flex;
}

.container__contact--input {
    position: relative;
    border: none;
    border-bottom: 1px solid #444;
    padding: 7px;
    outline: none;
    width: 100%;
    color: #a65bf4;
    font-family: 'Montserrat', 'sans-serif';
        /*&:focus, &:valid{
            outline: none;
            border-bottom: 1px solid #a65bf4;
            ~ .container__contact-label {
                top:-12px;
                font-size: 13px;
                color: #a65bf4;
                transition: .3s ease;
            }
        }*/
}

.container__contact--inputEmail {
    position: relative;
    border: none;
    border-bottom: 1px solid #444;
    padding: 7px;
    outline: none;
    width: 100%;
    color: #a65bf4;
    font-family: 'Montserrat', 'sans-serif';
}

.container__contact-label {
        position: absolute;
        top: 5px;
        left: 5px;
        cursor: text;
        font-family: 'Montserrat';
        text: 16px normal;
        transition: .3s ease;
}

.is-focused .container__contact-label {
    top:-12px;
    font-size: 13px;
    color: #a65bf4;
    transition: .3s ease;
}


.container__contact--blockCheckbox {
    width: 100%;
    display: flex;
    .container__contact--checkboxBlock {
        height: 26px;
    }
}

.container__contact--checkbox {
        padding: 26px;
        border: none;
}

.container__contact-blockTextrea {
    margin-bottom: 60px;
}

/*.container__contact--textarea {
    border: none;
    border-bottom: 1px solid #444;
    padding: 7px;
    outline: none;
    width: 100%;
    resize: none;
    &::placeholder {
        color: #444;
    }
}*/
.container__contact--submit {
    border: none;
    width: 169px;
    height: 40px;
    background: #a65bf4;
    border-radius: 3px;
    color: #fff;
    font-family: 'Montserrat';
    text: 16px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    &:hover {
      box-shadow: 0px 9px 18px 0px rgba(166, 91, 244, 0.5);
      transition: 0.3s;
    }
}

.container__contact--left {
    padding: 50px;  
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.container__contactEmailSkype  {
    width: 400px;
}

.container__contact--textEmail {
    margin: 0;
    font-family: 'Playfair Display';
    text: 24px normal;
    color: #444;
    margin-bottom: 6px;
}

.container__contact--textSkype {
    margin: 0;
    font-family: 'Playfair Display';
    text: 24px normal;
    color: #444;
}

#icon-message {
  margin-bottom: 114px;
  fill: #fff;
  width: 334px;
}





