.container__portfolio {
    padding-top: 154px;
    padding-bottom: 154px;
    background: #fff;
}

.container__portfolio--name {
    margin-bottom: 154px;
    display: flex;
    justify-content: center;
    text: 72px;
    font-weight: normal;
    font-family: 'Playfair Dysplay';
    color: var(--portfolioColorTextName);
}

.block__portfolioImage--list {
    margin-bottom: 100px;
}


